DATATOURISME_API_KEY = f813cea5-9ee2-415b-be44-1680121263f5

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=holiday_itinerary
POSTGRES_USER=username
POSTGRES_PASSWORD=password

NEO4J_PASSWORD=password